<!DOCTYPE html>
<html>
    <label>Selected Coupon</label>
        <h1>Coupon Code:<br>
        <%=@coupon.coupon_code%><br><br><br>

        <label>Store:</label><br>
        <%=@coupon.store%>
        </h1>
</html>