<br>
<h1><b><u>Current Coupon:</u></b></h1>
<br>
<br>
<h1>Coupon Code: <%= @coupon.coupon_code %> </h1>
<br>
<h1>Store: <%= @coupon.store %> </h1>
<br>
<br>
<%= link_to 'Go back to coupon list.', coupons_path %>