<!DOCTYPE html>
<html>
    <h1>Selected Coupon</h1>
        <label>Coupon Code:</label><br>
        <%=@coupon.coupon_code%><br><br><br>

        <label>Store:</label><br>
        <%=@coupon.store%>
</html>